<meta http-equiv="refresh" content="3" />
<script type="application/javascript">
  function getIP(json) {
  	document.write("This page displays my public IP address and refreshes itself in 3 seconds")
	document.write("<br>Date: ",  Date());
    document.write("<h2>My public IP address is: <b style=\"color:red\">", json.ip, "</b></h2>");
	

  }
</script>

<script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>